.devcontainer/settings.json
*.csv
*.parquet
*.xls
*.xlsx
*.so
*.o
*.DS_Store
*.tmp
.venv
.venv/**
.Rproj.user
modules/**
.Rbuildignore
dev/**
*.txt
*.log
.Rhistory
*.DS_Store
.DS_Store
*/.DS_Store
build/**
!CMakeLists.txt
dist/**
*.egg-info
python/bin/**
**/__pycache__/**
*.dSYM
*.out