useDynLib(sfacpp, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
import(R6)
import(data.table)
S3method(sfacpp::vcov, sfacpp)
S3method(sfacpp::coef, sfacpp)
S3method(sfacpp::bread, sfacpp)
S3method(sfacpp::estfun, sfacpp)
importFrom(sandwich, bread)
importFrom(sandwich, estfun)
export(estfun.sfacpp)
export(bread.sfacpp)